<template name="footer">
   <footer>
      <p>
         <small>
            <a href="/">Meteor Academy</a> is an independent entity and has not been authorized,
            sponsored, or otherwise approved by <a href="http://www.meteor.com" target="_blank">Meteor Development Group</a>.
            Disclaimer pilfered from <a href="http://meteorhacks.com" target="_blank">Meteor Hacks</a>.
            <br>
            Created with &hearts; by <a href="http://ciara.io" target="_blank">ciara</a>.
         </small>
      </p>

      <ul>
         <li><a href="https://twitter.com/MeteorAcademy" target="_blank"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://www.linkedin.com/in/ciaraburkett" target="_blank"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="http://drawntorealism.ciara.io" target="_blank"><i class="fa fa-tumblr"></i></a></li>
         <li><a href="https://medium.com/@ciara" target="_blank"><i class="fa fa-comment"></i></a></li>
         <li><a href="http://www.colourlovers.com/lover/ciara." target="_blank"><i class="fa fa-heart"></i></a></li>
         <li><a href="https://github.com/MeteorAcademy" target="_blank"><i class="fa fa-github-alt"></i></a></li>
         <li><a href="https://gratipay.com/ciara/" target="_blank"><i class="fa fa-gittip"></i></a></li>
      </ul>
   </footer>
</template>
