<template name="footer">
   <footer>
      <p>
         Created with &hearts; by <a href="http://ciara.io" target="_blank">ciara</a>.
      </p>

      <ul>
         <li><a href="https://twitter.com/ciaraburkett" target="_blank"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://www.linkedin.com/in/ciaraburkett" target="_blank"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="http://blog.ciara.io" target="_blank"><i class="fa fa-tumblr"></i></a></li>
         <li><a href="https://medium.com/@ciaraburkett" target="_blank"><i class="fa fa-comment"></i></a></li>
         <li><a href="http://www.colourlovers.com/lover/ciara." target="_blank"><i class="fa fa-heart"></i></a></li>
         <li><a href="https://github.com/CiaraBurkett" target="_blank"><i class="fa fa-github-alt"></i></a></li>
         <li><a href="https://www.gittip.com/ciaraburkett/" target="_blank"><i class="fa fa-gittip"></i></a></li>
      </ul>

      <p>
         <small>
            <a href="/">Meteor Academy</a> is an independent entity and has not been authorized,
            sponsored, or otherwise approved by <a href="http://www.meteor.com" target="_blank">Meteor Development Group</a>.
         </small>
      </p>
   </footer>
</template>
