<template name="header">
   <header>
      <nav class="top-bar" data-topbar>
         <ul class="title-area">
            <li class="name">
               <h1><a href="#"><i class="fa fa-graduation-cap"></i></a></h1>
            </li>

            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
         </ul>

         <section class="top-bar-section">
            <!-- right nav -->
            <ul class="right">
               <li class="active">
                  <a href="#">Sign Up</a>
               </li>
            </ul>

            <!-- left nav -->
            <ul class="left">
               <li><a href="#">About</a></li>
               <li><a href="#">FAQ</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">Support</a></li>
            </ul>
         </section>
      </nav>
   </header>
</template>
