<template name="header">
   <header>
      <nav>
         <ul class="left">
            <li>
               <a href="#">
                  <i class="fa fa-graduation-cap"></i><h1>Meteor Academy</h1>
               </a>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Support</a></li>
         </ul>

         <ul class="right">
            <li><a href="#">Sign In</a></li>
         </ul>
      </nav>
   </header>
</template>
