<template name="header">
   <header>
      <nav>
         <ul class="left">
            <li>
               <a href="/">
                  <h1><i class="fa fa-graduation-cap"></i></h1>
               </a>
            </li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'faq'}}">FAQ</a></li>
            <li><a href="http://www.medium.com/@MeteorAcademy" target="_blank">Blog</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            <li><a href="{{pathFor 'support'}}">Support</a></li>
         </ul>

         <ul class="right">
            <!-- <li><a href="{{pathFor 'login'}}">Login</a></li> -->
            {{#if currentUser}}
               {{> logout}}
            {{else}}
               <li><a href="{{pathFor 'login'}}">Login</a></li>
            {{/if}}
         </ul>
      </nav>
   </header>

   <script>
      astro.init();
   </script>
</template>
