<template name="home">
   <div class="panel">
      <div class="hero">
         <h2>Meteor Academy</h2>
         <p>Hitch Your Wagon to Meteor for Great Wealth and Beauty!</p>
         <a href="#about" class="button radius">Learn More</a>
      </div><!-- end .hero -->
   </div><!-- end .panel -->

   <!-- Chapter Tabs -->
   <ul class="tabs vertical" data-tab>
      <li class="tab-title active"><a href="#panel1a">Tab 1</a></li>
      <li class="tab-title"><a href="#panel2a">Tab 2</a></li>
      <li class="tab-title"><a href="#panel3a">Tab 3</a></li>
      <li class="tab-title"><a href="#panel4a">Tab 4</a></li>
      <li class="tab-title"><a href="#panel5a">Tab 5</a></li>
   </ul>

   <!-- Chapter Content -->
   <div class="tabs-content vertical">
      <div class="content active" id="panel1a">
         <p>Panel 1 goes here.</p>
      </div><!-- end #panel1a -->

      <div class="content" id="panel2a">
         <p>Panel 2 goes here.</p>
      </div><!-- end #panel2a -->

      <div class="content" id="panel3a">
         <p>Panel 3 goes here.</p>
      </div><!-- end #panel3a -->

      <div class="content" id="panel4a">
         <p>Panel 4 goes here.</p>
      </div><!-- end #panel4a -->

      <div class="content" id="panel5a">
         <p>Panel 5 goes here.</p>
      </div><!-- end #panel5a -->
   </div><!-- end .tabs-content .vertical -->
</template>
