@import "packages/bourbon/bourbon";
@import "base/base";
@import "packages/neat/neat";
@import "tabby.css";
@import "astro-navbar-plus.css";

// Font Variables
$jubilat: "jubilat", Times, serif;
$proxima: "proxima-nova", "Helvetica Neue", Arial, sans-serif;

// Global
body {
   font-family: $proxima;
   font-size: 150%;
   h1, h2, h3, h4, h5, h6 {
      font-family: $jubilat;
      line-height: 200%;
   }
}

// Main
.hero {
   text-align: center;
}
section {
   aside {
      @include span-columns(3);
   }
   .content {
      @include span-columns(9);
   }
}
