<template name="contact">
   <div class="static" id="contact">
      <h2>Contact Me</h2>

      <h3>Twitter</h3>
      <p>
         I'm (nearly) always connected to Twitter for Meteor and Node.js news.
         Tweet me @MeteorAcademy for a speedy response to your questions.
      </p>

      <h3>Email</h3>
      <p>
         I strive to answer all emails within 24 hours.  I can be reached for
         Meteor Academy-related questions at hello@meteor.academy.
      </p>

      <h3>IRC</h3>
      <p>
         On weekdays, I hang out in #meteor on IRC.  You can PM me there, and
         if I can't answer your questions, there are plenty of other experienced
         developers who can &mdash; including the <a href="http://www.meteor.com" target="_blank">Meteor Development Group</a>.
         They're very accessible!
      </p>
   </div>
</template>
