<template name="support">
   <div class="static" id="support">
      <h2>Support</h2>

      <p>
         Meteor Academy is a labor of undying love!  If you'd like me to be able
         to continue developing the curriculum uninterrupted, please contribute
         to my <a href="https://www.gittip.com/ciaraburkett/" target="_blank">Gittip</a>!
      </p>

      <p>
         Your contribution will help me cover the necessities of life (rent, utilities, groceries, existence) and
         the stuff of dreams (attending conferences across the country, <a href="http://devshop.meteor.com/" target="_blank">devshops</a>,
         and <a href="http://hackathon.meteor.com/" target="_blank">hackathons</a>).
         Educating and facilitating are two of my loudest callings in life!
      </p>
   </div>
</template>
