<template name="one">
   <article>
      <h2>
         Chapter 1:
         <small>Your First Website</small>
      </h2>
      <span class="meta">
         <i class="fa fa-code"></i> Beginner
         <i class="fa fa-clock-o"></i> 5 min.
      </span>
      
        <figure>
            <img src="one/ichiban-live.png">
            <a href="http://ichiban.meteor.com" target="_blank">Ichiban</a> is a single
         page static website containing dummy content from <a href="http://hipsum.co" target="_blank">Hipster Ipsum</a>.
        </figure>

      <ol>
          <li>
            <code>
               $ mkdir Projects && cd Projects
            </code>

            <p>
                Open the command-line interface (Terminal for Mac), create a Projects directory, 
                and change into that directory.  This is where you will store all of your Meteor 
                projects.  Use a name you're comfortable with.
            </p>
          </li>

         <li>
            <code>
               $ meteor create ichiban.meteor.com
            </code>

            <p>
                In your Projects directory, use the 'meteor' command-line tool to create a 
                codebase for your first website.  It's my personal preference to name my 
                Meteor projects after their prospective domain names.  You're free to use any 
                naming convention you like, as long as it keeps you organized.  Also, the more 
                you personalize tutorials, the likelier you are to remember the concepts you've 
                learned.
            </p>

            <p>
                In a second or so, the command-line will return:
            </p>

            <img src="one/ichiban-created.png">

            <p>
                If this doesn't work for you, copy the error from the command-line and Google 
                it.  It's very likely someone else has come across the same problem.
            </p>
         </li>

         <li>
            <code>
               $ cd ichiban.meteor.com && meteor [run]
            </code>

            <p>
                Now it's time to take a look at what we've got.  Change into your Ichiban 
                directory and use the 'meteor' command to start your local development server.  
                'Run' is the default command and does not explicitly need to be called.
            </p>

            <img src="one/ichiban-running.png">

            <p>
               If you get an error, you know what to do! ʕ•ᴥ-ʔ
            </p>
         </li>

         <li>
            <p>
                Now go to http://localhost:3000 in a modern browser (preferably Google Chrome) to 
                check out the tiny default application Meteor gives you.  Assuming you're using 
                the latest version of Meteor (0.9.2.2 as of this writing), this is what you'll see.
            </p>

            <img src="one/welcome-to-meteor.png">

            <p>
                If your curiosity hasn't already gotten the best of you, click the 'Click Me' 
                button and see what happens.  Pretty cool, right?  Each time the button 
                is clicked, the number is instantly incremented by 1.  If you manually refresh the page, 
                you'll notice the number returns to 0.
            </p>
         </li>

         <li>
            <p>
                Leave your local server running and open a new tab in your CLI.  Change into your 
                Ichiban directory if you're not already there.  Use your favorite text editor 
                to open your codebase.
            </p>

            <img src="one/ichiban-open-atom.png">

            <p>
                After you take a gander at the contents of each file, select the .js file and 
                delete it.  Yup.  Delete it.  It's okay, we don't need it.
            </p>

            <p>
                Did you notice what happened?  The page updated without a manual refresh, getting 
                rid of the 0 and any incrementation.  As you might expect, if you press the button now, 
                nothing happens.  And we're left with a plain ol' static site to play around with.
            </p>
         </li>

         <li>
            <p>
                Copy/paste the following code in the remaining HTML and CSS files:  
                <a href="https://gist.github.com/CiaraBurkett/13749da4d17915e27856" target="_blank">Gist</a>
            </p>
         </li>

         <li>
            <p>
                Optional:
            </p>
            <code>$ git init</code>

            <p>
               Initialize a Git repository and push your code to GitHub for all the world to see!
            </p>
         </li>

         <li>
            <code>$ meteor deploy ichiban.meteor.com</code>

            <p>
                Deploy to Meteor's free servers with a custom subdomain.  If you try to deploy to 
                ichiban.meteor.com, Meteor will return an error.  Otherwise...  Success!
            </p>

            <img src="one/ichiban-deploy.png">

         </li>

         <li>
            Rejoice!  You just created your first static website with Meteor!  Go to http://ichiban.meteor.com 
            or your custom subdomain to make sure everything turned out alright.
         </li>
      </ol>

      <h3>Summary</h3>

      <p>
        For most of you, this chapter may have been painful to even read.  Trust me, I'm not trying to insult your intelligence.  As I mentioned earlier, I'm starting from the absolute basics mostly for my own edification.  This is the only time I've created a static site with Meteor that didn't include any extra smart packages.  I really just wanted to see how barebones I could get.
      </p>

      <p>
        However, I do hope this chapter is helpful in some way!  If you do nothing else with Meteor, it's perfect for prototyping.  As you can see, you don't need much to get started.
      </p>

      <p>
        Lastly, now that the absolute basics are covered, you'll know what I mean when I tell you to create a new Meteor project, or deploy to subdomain.meteor.com, and so on.  Before immediately jumping to previous chapters or documentation, try to remember how to execute the instructions in the following chapters.  The key to remembering is forgetting.
      </p>

      <h3>Discussion</h3>

      <ol>
          <li>
            Why didn't we need to link to our external script and stylesheet in the HTML file?
          </li>
      </ol>
   </article>

</template>
