<template name="two">
   <article>
      <h2>
         Chapter 2:
         <small>Your Second Website</small>
      </h2>
      <span class="meta">
         <i class="fa fa-code"></i> Beginner
         <i class="fa fa-clock-o"></i> 10 min.
      </span>
      
        <figure>
            <img src="two/segundo-deploy.png">
            <figcaption>
                <a href="http://segundo.meteor.com" target="_blank">Segundo</a> 
                is a multipage static website.
            </figcaption>
        </figure>

      <p>
        Sweet.  So we know how to create a super simple single page website in Meteor and deploy our 
        custom subdomains to Meteor's servers.  Perhaps you feel this isn't the most practical skill 
        to have, but I made 
        <a href="http://ciara.io" target="_blank">my own website</a> this way in an afternoon.  Like 
        many developers and designers, I tend to take care of my own web needs last &mdash; if at all.  
        And with <a href="http://gratipay.com/ciara" target="_blank">no money to my name</a>, I needed 
        an affordable solution with a professional look.  If you're looking to expand your portfolio, 
        it certainly couldn't hurt.
      </p>

      <p>
        But what if we need to create a multipage website or application?  Read on!
      </p>

      <p>
        NOTE:  Dig the colorscheme on my personal site?  
        <a href="http://www.colourlovers.com/palette/3431230/ciara">I made it myself with Colourlovers</a>!  
        Feel free to use it for whatever you want.
      </p>

      <h4>Create a New Project</h4>

      <p>
      In Terminal, create a new project:  <code>segundo.meteor.com</code>.  Open the codebase in your text editor, 
        start your local development server, and navigate your browser to http://localhost:3000.  You 
        should see our friend "Welcome to Meteor."  (What the hey, click the button a few times just 
        to get it our of your system.)
      </p>

      <h5>.meteor</h5>

      <p>
        The Meteor framework is comprised of many "smart packages" or modules.  As we increase our code 
        radius and become advanced Meteor developers, we'll be adding and removing smart packages to enable 
        additional functionality in our applications.  Later on, we'll be creating our own!
      </p>

      <p>
        Let's crack open that .meteor directory and open the 'packages' file with Terminal or your text 
        editor.

        <figure>
            <img src="two/base-packages.png">
        </figure>
      </p>

      <p>
        It's a short list of the base packages we get when we create a Meteor project from scratch.  I 
        think 'meteor-platform' is self-explanatory.  The 'autopublish' and 'insecure' smart packages 
        make the entire database publicly available.  We'll leave these for now, since we don't have any 
        data for a database, but in upcoming chapters, we'll be removing them to make our apps more secure.
      </p>

      <h5>Rename Files</h5>

      <p>
        In our root directory, let's take a closer look at the default files Meteor gives us.  They'll be 
        in the form of myapp.css, myapp.html, myapp.js.  In this case, it's segundo.meteor.com.css, etc.  
        Ew.  We don't want that!
      </p>

      <p>
        With our development server still running, let's change the name of each file to main.css, main.html, 
        and main.js, respectively.  The counter has returned to 0, as expected.  When we click the button, 
        we see everything's still working.  Phew!  In the blink of an eye, our local server has refreshed itself 
        without any loss in functionality.  Don't you just love that?
      </p>

      <h5>Basic HTML and CSS</h5>

      <p>
        In main.css, we'll copy/paste some very basic CSS:
      </p>

      <pre class="language-css" rel="css">
        <code class="language-css">
/* Made by ciara.io for Meteor Academy */

body {
    color: #333;
    font-family: sans-serif;
    font-size: 115%;
    line-height: 24px
}

footer {
    text-align: center;
}
        </code>
      </pre>

      <p>
        When we save the file, we see "Welcome to Meteor" is looking good with our new styles.  But oh snap!  
        The counter is still where we left it!  As of 0.9.0, Meteor comes with <a href="#" target="_blank">
        live CSS injection</a> if you only change CSS files between saves.  (Web designers, I'm looking at 
        you!)
      </p>

      <p>
        In main.html, we'll paste some Hipster Ipsum, and add crude placeholder navigation for our other 
        pages.
      </p>

      <pre class="language-markup">
        <code class="language-markup">
&lt;nav&gt;
    &lt;a href="#"&gt;Home&lt;/a&gt;
    &lt;a href="#"&gt;About&lt;/a&gt;
    &lt;a href="#"&gt;Contact&lt;/a&gt;
&lt;/nav&gt;
        </code>
      </pre>

      <h4>Iron Router</h4>

      <p>
        Let's head on over to Atmosphere to read about the Iron Router smart package, the de factor standard 
        for routing in Meteor.  Copy the command at the top of the page:  <code>meteor add iron:router</code> and 
        paste it into the terminal.
      </p>

      <p>
        Back in .meteor/packages, we see "iron:router" has been added to the bottom of the list.  And if 
        we delete that line, Iron Router will be removed from our code base.  But you already read the comments 
        at the top of the file, so you already knew that!  ʕ•ᴥ-ʔ
      </p>

      <p>
        We can also bring up a list of packages in our project by typing 'meteor list' in Terminal.  Meteor 
        will return package names, version numbers, and short descriptions.
      </p>

      <figure>
          <img src="two/segundo-meteor-list.png">
      </figure>

      <h5>Declaring Routes</h5>

      <p>
        Let's delete all the contents of main.js, and add a basic router map based on the example the Iron 
        Router docs give us.
      </p>

      <pre class="language-javascript">
        <code class="language-javascript">
Router.map(function() {
    this.route('home', {path: '/'});
    this.route('about');
    this.route('contact');
});
        </code>
      </pre>

      <p>
        What did we just do?  Let's read the docs:
      </p>

      <blockquote>
          The first route is named home, and will render a template named home at the [root] path /. The second is 
          named about, and will render a template named about at the path /about.
      </blockquote>

      <p>
        And you guessed it &mdash; our third route will render a template "contact" at the route "/contact".  
        Seeing a pattern here?
      </p>

      <h5>Using Routes</h5>

      <p>
        In main.html, replace the hashtags for the dummy navigation links with the following Spacebars helpers:
      </p>

      <pre class="language-markup">
        <code class="language-markup">
&lt;nav&gt;
    &lt;a href="&#123;&#123;pathFor 'home'&#125;&#125;"&gt;Home&lt;/a&gt;
    &lt;a href="&#123;&#123;pathFor 'about'&#125;&#125;"&gt;About&lt;/a&gt;
    &lt;a href="&#123;&#123;pathFor 'contact'&#125;&#125;"&gt;Contact&lt;/a&gt;
&lt;/nav&gt;
        </code>
      </pre>

      <p>
        Back in the browser, click the navigation links.  The relative paths appear at the end of the URL.  
        Great!  The router map is working!
      </p>

      <h5>Configuring Routes</h5>

      <p>
        In main.js, above the router map, let's add basic route configuration:
      </p>

      <pre class="language-javascript">
        <code class="language-javascript">
            <strong>
Router.configure({
   layoutTemplate: 'layout',
   yieldTemplate: {
      header: {
         to: 'header'
      },
      footer: {
         to: 'footer'
      }
   }
});
        </strong>

Router.map(function() {
  this.route('home', {path: '/'});
  this.route('about');
  this.route('contact');
});
        </code>
      </pre>

      <h4>Templates</h4>

      <!-- What is a template? -->

      <p>
        We're telling Iron Router to use the template with the name attribute "layout" as our layoutTemplate, 
        which is a wrapper for all of the HTML in the <code>body</code> tag.  For the yieldTemplate, we're 
        pointing the templates with name attributes "header" and "footer" to act as the header and footer 
        <em>for every page</em>.
      </p>

      <p>
        In the Segundo root directory, create six Spacebars templates:  layout.html, home.html, about.html, 
        contact.html, header.html, and footer.html.
      </p>

      <h5>Layout</h5>

      <p>
        First, we'll create the layout, the base structure that will define each of our pages.  In main.html, 
        copy all the code between the <code>body</code> tags, delete it, and replace it with the 
        <code>&#123;&#123;&gt; layout&#125;&#125;</code> Spacebars helper.  The "&gt;" character tells 
        Spacebars "put [layout] code here."
      </p>

      <pre class="language-markup">
        <code class="language-markup">
&lt;head&gt;
    &lt;title&gt;Segundo&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &#123;&#123;&gt; layout&#125;&#125;
&lt;/body&gt;
        </code>
      </pre>

      <p>
        In <code>layout.html</code>, we'll create a template element with a name attribute with value "layout."  
        Add three Spacebars helpers for the header, yield, which is essentially a placeholder for page content, 
        and a helper for the footer.
      </p>

      <!-- layout.html -->
      <pre class="language-markup">
        <code class="language-markup">
&lt;template name="layout"&gt;
   &#123;&#123;&gt; header&#125;&#125;
   &lt;hr&gt;
   &#123;&#123;&gt; yield&#125;&#125;
   &#123;&#123;&gt; footer&#125;&#125;
&lt;/template&gt;
        </code>
      </pre>

      <p>
        We've just created the base structure that will define each of our pages.
      </p>

      <h5>Header and Footer </h5>

      <p>
        Remember the code we copied from the <code>body</code> tag?  Let's copy the <code>header</code> and 
        <code>footer</code> code, paste it into <code>header.html</code> and <code>footer.html</code> 
        respectively.  Wrap in template elements with matching name attributes.
      </p>

      <!-- header.html -->
       <pre class="language-markup">
        <code class="language-markup">
&lt;!-- header.html --&gt;

&lt;template name="header"&gt;
    &lt;header&gt;
      &lt;h1&gt;
         Segundo
         &lt;small&gt;Second Time's a Charm&lt;/small&gt;
      &lt;/h1&gt;

      &lt;nav&gt;
          &lt;a href="&#123;&#123;pathFor 'home'&#125;&#125;"&gt;Home&lt;/a&gt;
          &lt;a href="&#123;&#123;pathFor'about'&#125;&#125;"&gt;About&lt;/a&gt;
          &lt;a href="&#123;&#123;pathFor 'contact'&#125;&#125;"&gt;Contact&lt;/a&gt;
      &lt;/nav&gt;

   &lt;/header&gt;
&lt;/template&gt;
        </code>
      </pre>

      <!-- footer.html -->
       <pre class="language-markup">
        <code class="language-markup">
&lt;!-- footer.html --&gt;

&lt;template name="footer"&gt;
    &lt;footer&gt;

      &lt;p&gt;
        No Copyright.  Made with &hearts; by &lt;a href="http://ciara.io" target="_blank"&gt;ciara&lt;/a&gt;
         for &lt;a href="http://meteor.academy" target="_blank"&gt;Meteor Academy&lt;/a&gt;.
      &lt;/p&gt;

   &lt;/footer&gt;
&lt;/template&gt;
        </code>
      </pre>
      

      <h5>Pages</h5>

      <p>
        Now we'll paste the code we copied from <code>main.html</code> (without the header and footer code) into 
        <code>home.html</code>.  Wrap in a "home" template.  We repeat this exact process for our 
        <code>about</code> and <code>contact</code> pages.  (Paste in some 
        <a href="http://hipsum.co/" target="_blank">hipster-tastic dummy text</a> if you'd like.)
      </p>

      <p>
        Let's take a look at http://localhost:3000.  When we click the navigation links, we'll be directed 
        to their corresponding pages.  Voila!  We've built a multipage website with Meteor!
      </p>

      <figure>
          <img src="two/segundo-nav.png">
      </figure>

      <h4>Deploy</h4>

      <p>
        To see our website live, let's deploy to Meteor's servers with the "deploy" command.  Remember, make 
        sure you choose a custom subdomain for your project, or Meteor will complain &mdash; and rightfully so!
      </p>

      <h4>Summary</h4>

      <p>
        Now we know how to use Iron Router to create custom routes and pages for our websites and applications.  
        However, we've just barely scratched the surface of Iron Router's capabilities.  Especially with the 
        release of <a href="https://www.meteor.com/blog/2014/09/25/meteor-093-packaging-system-updates" target="_blank">Meteor 0.9.3</a>.
      </p>

      <!-- <h4>Exercises</h4> -->

      <h4>Extra Reading</h4>

      <ol>
          <li><a href="http://docs.meteor.com/#packages" target="_blank">Meteor Docs:  Packages</a></li>
          <li><a href="http://docs.meteor.com/#livehtmltemplates" target="_blank">Meteor Docs:  
          Live HTML Templates</a></li>
          <li><a href="https://atmospherejs.com/iron/router" target="_blank">
          Atmosphere:  Iron Router</a></li>
          <li><a href="https://www.yauh.de/using-pre-made-themes-with-meteor/" target="_blank">
          Using Pre-made Themes with Meteor</a></li>
          <li><a href="http://davidbrear.wordpress.com/2013/12/13/meteor-template-naming-technique/" 
          target="_blank">Alternate Naming Technique for Meteor Templates</a></li>
      </ol>

   </article>
</template>
