<template name="zero">
   <article>
      <h2>
         Chapter 0:
         <small>Getting Set Up</small>
      </h2>

      <p>
         As I've mentioned before, the primary goal of Meteor Academy is to get you
         (and me!) to rapidly increase what Hacker School calls one's <q>code radius.</q>
         We'll start out with simple CRUD apps and continue to add complexity
         until we get to a basic content management system!
      </p>

      <p>
         Hm.  Is there such a thing as a <q>basic</q> content managament system?  Well,
         I guess we'll find out how it goes with Meteor!
      </p>

      <p>
         However, before we can get to the good stuff, let's make sure we've got the
         tools and know-how to get going.
      </p>

      <h3>Tools</h3>

      <p>
         NOTE:  The bolded text are links to the tools you'll need to get through
         these tutorials.  Since you're on the internet, I trust you'll look up
         installation instructions where necessary ʕ•ᴥ-ʔ.
      </p>

      <ul>
         <li>
            <h4>Text Editor</h4>

            <p>
               If you don't already have a favorite text editor, I highly recommend
               <a href="http://atom.io" target="_blank">Atom</a>.  It's a well
               maintained, highly customizable open-source text editor with an active
               community behind it.
            </p>
         </li>

         <li>
            <h4>Node.js</h4>

            <p>
               Meteor is built on top of <a href="http://nodejs.org/download/" target="_blank">Node.js</a>, a
               platform for developing applications using JavaScript on the server side.
               You'll be needing that.
            </p>
         </li>

         <li>
            <h4>npm</h4>

            <p>
               <a href="https://www.npmjs.org/" target="_blank">npm</a> is a command-line
               utility for adding code packages (modules) to Node.js applications.
            </p>

            <p>
               While not <em>required</em> for building web applications with
               Meteor, npm comes packaged with Node.js.  We can even use npm packages
               in our Meteor applications (more on that later)!
            </p>
         </li>

         <li>
            <h4>Meteor</h4>

            <p>
               Painfully obvious, I know, but you're going to need the latest version of
               <a href="http://meteor.com" target="_blank">Meteor</a> to get through the
               Meteor Academy tutorials.  At the time of this writing, that's version 0.8.3.
            </p>

            <p>
               Famously, once you have Node.js installed, you can install Meteor with a
               single command: <code>$ curl https://install.meteor.com/ | sh</code>
            </p>

            <p>But we're not quite done yet!</p>
         </li>

         <li>
            <h4>Meteorite</h4>

            <p>
               Basically, <a href="http://oortcloud.github.io/meteorite/" target="_blank">Meteorite</a>
               is to Meteor as npm is to Node.js &mdash; a command-line utility
               for adding third-party <q>smart packages</q> to your Meteor applications.
            </p>

            <p>
               Why <q>third-party</q>?  Because Meteor already comes with a neat set of
               smart packages to get you started building applications right away.  But
               while the Meteor Development Group is busy releasing new versions of Meteor
               about once a month, the community stepped up to enable even greater
               functionality!
            </p>

            <p>
               <a href="http://atmospherejs.com/" target="_blank">Atmosphere</a> is the
               catalogue where you'll find smart packages available for download via Meteorite.
            </p>
         </li>

         <li>
            <h4>Meteor Developer Account</h4>

            <p>
               Okay, so you don't <em>need</em> a Meteor Developer account to get started
               with Meteor, but it does have some added benefits.  For one, you can enable
               only those with Meteor Developer Accounts to login to your applications.
               And secondly, once Atmosphere is officially a part of Meteor,
               your developer account username will be used when people install
               your smart packages.  (You <em>do</em> plan on building smart packages, right?)
            </p>

            <p>So claim your name while you still can!</p>
         </li>

         <li>
            <h4>Git</h4>

            <p>
               Effectively, <a href="http://git-scm.com/" target="_blank">Git</a> enables
               developers to <q>save</q> different versions of their code, making
               development and debugging a million times easier than it would be otherwise.
            </p>

            <p>
               This is how <a href="http://en.wikipedia.org/wiki/Git_(software)" target="_blank">Wikipedia defines Git</a>:
               <blockquote>
                  Git is a distributed revision control and source code managament system
                  with an emphasis on speed, data integrity, and support for distributed,
                  non-linear workflows.
               </blockquote>
            </p>

            <p>
               Not gonna lie, the Git website doesn't help much either:

               <blockquote>
                  Git is a free and open source distributed version control system designed
                  to handle everything from small to very large projects with speed and
                  efficiency.
               </blockquote>
            </p>

            <p>
               Luckily, you don't need to know what Git is to install it and use it.  All
               you really need to know for now is that you can't use Meteorite without it.
            </p>
         </li>

         <li>
            <h4>GitHub</h4>

            <blockquote>
               <a href="https://github.com/" target="_blank">GitHub</a> is the best place to share code
               with friends, coworkers, classmates, and
               complete strangers.  Over six million people use GitHub to build amazing things
               together.
            </blockquote>

            <p>
               Remember what I said about increasing your <q>code radius</q>?  Well, one
               of the best methods I've found of making sure I follow through with my goals
               is to make my code public!  And with GitHub's Contributions chart, you can
               literally see all the work you've been doing for any given interval of time.
            </p>

            <p>
               Not to mention, using GitHub to make your code public makes it much easier to point
               to those troublesome spots when you ask for help. (And you <em>will</em>
               be asking for help when you get stuck, right?)
            </p>
         </li>

         <li>
            <h4>Patience</h4>
            <p>
               I know the internet told you Meteor is super easy to learn.  And that's certainly
               true when comparing Meteor to other web development frameworks.
               But Meteor Academy assumes you have zero experience building web apps.
               So perhaps we'll start out a little slowly, but I'll do my best to make sure you
               can skip ahead to your appropriate skill level without losing context.
            </p>

            <p>
               On that note:
            </p>
         </li>
      </ul>

      <h3>What You'll Need to Know</h3>

      <ul>
         <li>
            <h4>HTML/CSS</h4>

            <ul>
               <li><a href="http://learn.shayhowe.com/html-css/">Learn to Code HTML &amp; CSS</a></li>
            </ul>
         </li>

         <li>
            <h4>JavaScript</h4>

            <ul>
               <li><a href="http://www.codecademy.com/tracks/javascript" target="_blank">Codecademy JavaScript Track</a></li>
               <li><a href="http://jsforcats.com/" target="_blank">JavaScript for Cats</a></li>
               <li><a href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a></li>
            </ul>
         </li>

         <li>
            <h4>Command Line</h4>

            <ul>
               <li><a href="http://cli.learncodethehardway.org/book/" target="_blank">The Command Line Crash Course</a></li>
            </ul>
         </li>

         <li>
            <h4>Git/GitHub</h4>

            <ul>
               <li><a href="http://git-scm.com/book" target="_blank">Pro Git</a></li>
               <li><a href="https://help.github.com/" target="_blank">GitHub Help</a></li>
            </ul>
         </li>
      </ul>
   </article>
</template>
