<template name="zero">
   <article>
      <h2>
         Chapter 0:
         <small>Getting Set Up</small>
      </h2>

      <p>
         As I've mentioned before, the primary goal of Meteor Academy is to get you
         (and me!) to rapidly increase what Hacker School calls one's <q>code radius.</q>
         We'll start out with simple CRUD apps and continue to add complexity
         until we get to a basic content management system!
      </p>

      <p>
         Hm.  Is there such a thing as a <q>basic</q> content managament system?  Well,
         I guess we'll find out how it goes with Meteor!
      </p>

      <p>
         However, before we can get to the good stuff, let's make sure we've got the
         tools and know-how to get going.
      </p>

      <h3>Tools</h3>

      <p>
         <strong>NOTE:</strong>  The bolded text are links to the tools you'll need to get through
         these tutorials.  Since you're on the internet, I trust you'll look up
         installation instructions where necessary ʕ•ᴥ-ʔ.
      </p>

      <ul>
         <li>
            <h4>Mac/Linux Operating System</h4>

            <p>
               If you're on a Windows machine and you want to follow the tutorials exactly,
               you're going to need to download <a href="http://www.ubuntu.com/desktop"
               target="_blank">Ubuntu</a>, an extremely easy to use Linux operating system.
            </p>

            <p>
               If, for some reason, you can't or don't want to download Ubuntu, you can get
               the latest version of Meteor by downloading the
               <a href="http://win.meteor.com/" target="_blank">unofficial executable for Windows</a>.
            </p>

            <p>
               You can find more information on the <a href="https://github.com/sdarnell/meteor/wiki/Windows"
               target="_blank">Meteor for Windows Wiki</a>.
            </p>

         </li>

         <li>
            <h4>Command-line Interface</h4>

            <p>
               Terminal for Mac, bash for Linux, and PowerShell(?) for Windows.  Find the appropriate
               command-line interface for your operating system, and you will be able to navigate your
               computer at lightning speeds using text instead of your mouse.
            </p>

            <p>
               It's possible to download many of the tools you'll need for Meteor development without
               the command-line, but it's a lot more trouble than it's worth.  To learn more, or to get a
               hands-on refresher of how to use your system's command-line interface, check out Zed Shaw's
               <a href="http://cli.learncodethehardway.org/book/" target="_blank">Command Line Crash
               Course</a>.  (This is how I got started!)
            </p>
         </li>
         <li>
            <h4>Text Editor</h4>

            <p>
               If you don't already have a favorite text editor, I highly recommend
               <a href="http://atom.io" target="_blank">Atom</a>.  It's a well
               maintained, highly customizable open-source text editor with an active
               community behind it.
            </p>

            <p>
                (Mac)Vim is my personal favorite, but it requires a great deal of customization to become useful.
            </p>
         </li>

         <li>
            <h4>Node.js</h4>

            <p>
               Meteor is built on top of <a href="http://nodejs.org/download/" target="_blank">Node.js</a>, a
               platform for developing applications using JavaScript on the server side.
               You'll be needing that.
            </p>
         </li>

         <li>
            <h4>npm</h4>

            <p>
               <a href="https://www.npmjs.org/" target="_blank">npm</a> is a command-line
               utility for adding code packages (modules) to Node.js applications.
            </p>

            <p>
               While not <em>required</em> for building web applications with
               Meteor, npm comes packaged with Node.js.  We can even use npm packages
               in our Meteor applications (more on that later)!
            </p>
         </li>

         <li>
            <h4>Meteor</h4>

            <p>
               Painfully obvious, I know, but you're going to need the latest version of
               <a href="http://meteor.com" target="_blank">Meteor</a> to get through the
               Meteor Academy tutorials.  At the time of this writing, that's version 0.9.2.2.
            </p>

            <p>
               Famously, once you have Node.js installed, you can install Meteor with a
               single command: <code>$ curl https://install.meteor.com/ | sh</code>
            </p>

            <p>But we're not quite done yet!</p>
         </li>

         <li>
            <h4>Atmosphere</h4>

            <p>
               <a href="http://atmospherejs.com/" target="_blank">Atmosphere</a> is the
               catalogue where you'll find smart packages available for download via Meteorite.
            </p>
         </li>

         <li>
            <h4>Meteor Developer Account</h4>

            <p>
               Okay, so you don't <em>need</em> a Meteor Developer account to get started
               with Meteor, but it does have some added benefits.  For one, you can enable
               only those with Meteor Developer Accounts to login to your applications.
               And secondly, once Atmosphere is officially a part of Meteor,
               your developer account username will be used when people install
               your smart packages.  (You <em>do</em> plan on building smart packages, right?)
            </p>

            <p>So claim your name while you still can!</p>
         </li>

         <li>
            <h4>Git</h4>

            <p>
               Effectively, <a href="http://git-scm.com/" target="_blank">Git</a> enables
               developers to <q>save</q> different versions of their code, making
               development and debugging a million times easier than it would be otherwise.
            </p>

            <p>
               This is how <a href="http://en.wikipedia.org/wiki/Git_(software)" target="_blank">Wikipedia defines Git</a>:
               <blockquote>
                  Git is a distributed revision control and source code managament system
                  with an emphasis on speed, data integrity, and support for distributed,
                  non-linear workflows.
               </blockquote>
            </p>

            <p>
               Not gonna lie, the Git website doesn't help much either:

               <blockquote>
                  Git is a free and open source distributed version control system designed
                  to handle everything from small to very large projects with speed and
                  efficiency.
               </blockquote>
            </p>

            <p>
               Luckily, you don't need to know what Git is to install it and use it.  
            </p>
         </li>

         <li>
            <h4>GitHub</h4>

            <blockquote>
               <a href="https://github.com/" target="_blank">GitHub</a> is the best place to share code
               with friends, coworkers, classmates, and
               complete strangers.  Over six million people use GitHub to build amazing things
               together.
            </blockquote>

            <p>
               Remember what I said about increasing your <q>code radius</q>?  Well, one
               of the best methods I've found of making sure I follow through with my goals
               is to make my code public!  And with GitHub's Contributions chart, you can
               literally see all the work you've been doing for any given interval of time.
            </p>

            <p>
               Not to mention, using GitHub to make your code public makes it much easier to point
               to those troublesome spots when you ask for help. (And you <em>will</em>
               be asking for help when you get stuck, right?)
            </p>
         </li>

         <li>
            <h4>Patience</h4>
            <p>
               I know the internet told you Meteor is super easy to learn.  And that's certainly
               true when comparing Meteor to other web development frameworks.
               However, Meteor Academy assumes you have zero experience building web apps.
               So perhaps we'll start out a little slowly, but I'll do my best to make sure you
               can skip ahead to your appropriate skill level without losing context.
            </p>

            <p>
               On that note:
            </p>
         </li>
      </ul>

      <h3>What You'll Need to Know</h3>

      <p>
         Below you'll find links to a few of the resources I've found incredibly useful over the years
         for learning web development.  Get started with these, and there's no telling where you'll go!
      </p>

      <p>
         <strong>WARNING:</strong>  Web development is addictive, my friend.  If you need to take a detour from Meteor
         Academy to learn the basics, make sure you don't dilly-dally.  Learn what you need and
         come back!  Otherwise, I'll miss you...  ʕTᴥTʔ
      </p>

      <ul>
         <li>
            <h4>HTML/CSS</h4>

            <ul>
               <li><a href="http://learn.shayhowe.com/html-css/">Learn to Code HTML &amp; CSS</a></li>
            </ul>
         </li>

         <li>
            <h4>JavaScript</h4>

            <ul>
               <li><a href="http://www.codecademy.com/tracks/javascript" target="_blank">Codecademy JavaScript Track</a></li>
               <li><a href="http://jsforcats.com/" target="_blank">JavaScript for Cats</a></li>
               <li><a href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a></li>
            </ul>
         </li>

         <li>
            <h4>Command Line</h4>

            <ul>
               <li><a href="http://cli.learncodethehardway.org/book/" target="_blank">The Command Line Crash Course</a></li>
               <li><a href="https://medium.com/@greybeat/diving-into-terminal-62ff5783cf85" target="_blank">Diving Into Terminal</a></li>
            </ul>
         </li>

         <li>
            <h4>Git/GitHub</h4>

            <ul>
               <li><a href="http://git-scm.com/book" target="_blank">Pro Git</a></li>
               <li><a href="https://help.github.com/" target="_blank">GitHub Help</a></li>
            </ul>
         </li>
      </ul>

      <h3>Exercises</h3>

      <ol class="default">
         <li>
            Make sure you have all the tools installed!  You can double check most applications on the command-line by typing:
            <code>$ [tool name] --version</code>
         </li>

         <li>
            If you don't already have one, get yourself a Meteor Developer Account!
         </li>
      </ol>
   </article>
</template>
